{% extends "base.twig" %}

{% block content %}
    <div class="banner object-fit">
        <div class="container">
            <div class="banner__wrap">
                <div class="banner__item">
                    <h1 class="banner__title">Ukrainian brand</h1>
                    <div class="banner__text">of women’s clothing</div>
                    <div class="banner__line">
                        <div class="burger">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="buttons-block">
                            <svg class="icon">
                                <use xlink:href="/wp-content/themes/site/images/svg/sprite.svg#favourite"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="/wp-content/themes/site/images/svg/sprite.svg#icon_camera"></use>
                            </svg>
                            <svg class="icon">
                                <use xlink:href="/wp-content/themes/site/images/svg/sprite.svg#icon_cart"></use>
                            </svg>
                        </div>
                        <div class="language">
                            <span>ru</span>
                            <svg class="icon">
                                <use xlink:href="/wp-content/themes/site/images/svg/sprite.svg#arrow_down"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="banner__item">
                    <div class="banner__right-text">Online store<span>2020</span></div>
                    <div class="language_mobile">
                        <span>ru</span>
                        <svg class="icon">
                            <use xlink:href="/wp-content/themes/site/images/svg/sprite.svg#arrow_down"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <img src="/wp-content/themes/site/images/banner.png" alt="">
    </div>

    <div class="color">
        <div class="container">
             <div class="color__top">
                 <div class="column">
                     <div class="dark">dark</div>
                 </div>
                 <div class="column">
                     <div class="title">Colors</div>
                     <div class="text">Основная деятельность заказчика такая. У него есть такие проблемы. При создании нового дизайна учитывались такие факторы - фактор1, фактор2 и фактор3.</div>
                 </div>
             </div>

            <div class="color__center">
                <div class="column">
                    <h1 class="title">Color style for project</h1>
                    <div class="text">some text will be here</div>
                </div>
                <div class="column">
                    <div class="hex">#9A0034</div>
                    <div class="block-color"></div>
                </div>
            </div>

            <div class="color__bottom">
                <div class="column">
                    <div class="top-line">
                        <div class="color-block">
                            <div class="block gray"></div>
                            <div class="text">#898989</div>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <div class="color-block">
                            <div class="block"></div>
                            <div class="text"></div>
                        </div>
                        <div class="color-block">
                            <div class="block white_gray"></div>
                            <div class="text">#898989</div>
                        </div>
                        <div class="color-block">
                            <div class="block black"></div>
                            <div class="text"></div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="top-line">
                        <div class="color-block mobile">
                            <div class="block white_pink"></div>
                            <div class="text">#D7969E</div>
                        </div>
                        <div class="color-block">
                            <div class="block pink"></div>
                            <div class="text">#D7969E</div>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <div class="color-block">
                            <div class="block"></div>
                            <div class="text"></div>
                        </div>
                        <div class="color-block mobile">
                            <div class="block white_pink"></div>
                            <div class="text">#D7969E</div>
                        </div>
                        <div class="color-block">
                            <div class="block gray_pink"></div>
                            <div class="text"></div>
                        </div>
                    </div>
                    <div class="color__text">bright</div>
                </div>
            </div>
        </div>
    </div>

    <div class="thank">
        <div class="container">
            <div class="column">
                <div class="thank__bonum">
                    <svg class="icon">
                        <use xlink:href="/wp-content/themes/site/images/svg/sprite.svg#bonum"></use>
                    </svg>
                </div>
                <div class="thank__decor">
                    <svg class="icon">
                        <use xlink:href="/wp-content/themes/site/images/svg/sprite.svg#virna_2"></use>
                    </svg>
                    <div class="ellipse"></div>
                </div>

            </div>
            <div class="column">
                <h1 class="thank__title">Thank you</h1>
                <div class="thank__text">for watching</div>
            </div>
        </div>
    </div>
{% endblock %}